*,
*::after,
*::before
  box-sizing: border-box
body
  +reg
  font-size: 14px
img
  max-width: 100%
input,
button,
a,
  outline: none
.section
  padding-top: 80px
  padding-bottom: 80px
  &-title
    font-size: 30px
    text-align: center
    +bold
    color: $black-color
  &__title
    margin: 0
    margin-bottom: 20px
  &-subtitle
    text-align: center
    font-size: 16px
    +reg
    color: $black-color
  &__subtitle
    margin: 0
    margin-bottom: 60px
.button
  padding: 15px 50px
  border-radius: 25px
  background-color: $main-color
  border: 1px solid $main-color
  color: $white-color
  text-decoration: none
  +bold
  transition: all .2s
  &:hover
    background-color: transparent
    cursor: pointer
.input
  padding: 14px 25px 14px 17px
  font-size: 13px
  border: none
.input::-webkit-input-placeholder
  color: #b8b8b8
textarea::-webkit-input-placeholder
  color: #b8b8b8

.error
  border-right: 1px solid red
div.error
  border: none
  position: absolute
  // top: 0
  right: 0
  bottom: -16px
  color: $main-color